{% extends "base.html" %}
{% block title %}Cart Page{% endblock %}

{% block Stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/Cart.css') }}">
{% endblock %}

{% block content %}
<br><br><br><br>
<div class="MainDisplay">
    <div class="CartProducts">
        <div class="Title">
            {% if cart_items|length > 0 %}
                <h1>Shopping Cart</h1>
                <p>Price</p>
            {% else %}
                <h1>Your Shopping Cart Is Empty</h1>
            {% endif %}
        </div>
        <div class="Border"></div>
        {% for item in cart_items %}
            <div class="CartProduct">
                <a href="{{ url_for('product_page', productID=item['Product_ID']) }}">
                    <img src="{{ url_for('get_thumbnail', productName=item['Title'], imageName=item['ImageName']) }}" alt="Product Image">
                </a>
                <div class="ProductDetails">
                    <a href="{{ url_for('product_page', productID=item['Product_ID']) }}">
                        <h3>{{ item['Title'] }}</h3>
                    </a>
                    <br><br>
                    <div class="ItemCountSelector">
                        <p> Quantity: </p>
                        <form action="{{ url_for('remove_cart_item') }}" method="post">
                            <input type="hidden" name="product_id" value="{{ item['Product_ID'] }}">
                            {% if item['Quantity'] <= 1 %} 
                                <button type="submit">R</button>
                            {% else %}
                                <button type="submit">-</button>
                            {% endif %}
                        </form>
                        <p>{{ item['Quantity'] }}</p>
                        <form action="{{ url_for('add_cart_item') }}" method="post">
                            <input type="hidden" name="product_id" value="{{ item['Product_ID'] }}">
                            <button type="submit">+</button>
                        </form>
                    </div>
                </div>
                <div class="OtherDetails">
                    <form action="{{ url_for('remove_cart_item') }}" method="post">
                        <input type="hidden" name="product_id" value="{{ item['Product_ID'] }}">
                        <input type="hidden" name="quantity" value="{{ item['Quantity'] }}">
                        <button type="submit">Remove All</button>
                    </form>
                </div>
                <div class="Price">
                    {% if item['DiscountPercentage'] > 0 %}
                        {% set discounted_price = (item['Price'] * (1 - (item['DiscountPercentage'] / 100))) %}
                        <p> <s>${{ '%.2f' % item['Price'] }}</s> | %{{ item['DiscountPercentage'] }} | ${{ '%.2f' % discounted_price }}</p>
                    {% else %}
                        <p> Price: ${{ item['Price'] }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="Border"></div>
        {% endfor %}
    </div>
    <div class="ProceedToCartContainer">
        <p>SubTotal ({{item_count}} items): <b>${{ '%.2f' % subTotal }}</b></p>
        <button>Proceed To Checkout</button>
    </div>
</div>
{% endblock %}