{% extends "base.html" %}
{% block title %}User Profile Creation{% endblock %}

{% block content %}
<body class = signin-body>
    <section class = signin-container>
        {% if actionMessage %}
            {% if isError %}
                <p class="ActionMessage ErrorMessage"> {{actionMessage}} </p>
            {% else %}
                <p class="ActionMessage SuccessMessage"> {{actionMessage}} </p>
            {% endif %}
        {% endif %}
        <h2>Create your account</h2>
        <form action ="{{ url_for('createaccount') }}" method="post">
            <input type="text" placeholder="Name" required name="name">
            <input type="text" placeholder="Email" required name="email">
            <input type="password" placeholder="Password" required name="password">
            <input type="text" placeholder="Phone Number" required name="phone_number">
            <button type="submit">Create Account</button>
            <div>
                <label>
                    <input type="checkbox" name="is_admin">
                    Admin User
                </label>
            </div>
        </form>
    </section>
</body>
{% endblock %}
