{% extends "base.html" %}
{% block title %}Home Page{% endblock %}

{% block content %}
    <section id="featured-products">
        <h2>Featured Products</h2>
        <products class="thumbnail-row">
            {% for product in featured_products %}
                <div class="thumbnail">
                    <a href="{{ url_for('product_page', productID=product['Product_ID']) }}">
                        <img src="{{ url_for('get_thumbnail', productName=product['Title'], imageName=product.get('ImageName', 'placeholder.jpg')) }}" alt="{{ product['Title'] }}">
                    </a>
                    <p>{{ product['Title'] }}</p>
                    <p>${{ '%.2f' % product['Price'] }}</p>
                </div>
            {% endfor %}
        </products>
    </section>
    
    <section id="latest-products">
        <h2>Latest Products</h2>
        <products class="thumbnail-grid">
            {% for product in latest_products %}
                <div class="thumbnail">
                    <a href="{{ url_for('product_page', productID=product['Product_ID']) }}">
                        <img src="{{ url_for('get_thumbnail', productName=product['Title'], imageName=product.get('ImageName', 'placeholder.jpg')) }}" alt="{{ product['Title'] }}">
                    </a>
                    <p>{{ product['Title'] }}</p>
                    <p>${{ '%.2f' % product['Price'] }}</p>
                </div>
            {% endfor %}
        </products>
    </section>
{% endblock %}