{% extends "base.html" %}
{% block title %}Home Page{% endblock %}

{% block Stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/Product.css') }}">
{% endblock %}

{% block content %}
<div class="SuperBase">
    <div class="BaseTop">
        <div class="Left">
            <div class="OtherContentTop">
                <div class="ImageContainer">
                    <img src="{{ url_for('get_thumbnail', productName=product_details['Title'], imageName=product_thumbnail_name) }}" alt="No Image">
                </div>
                <div class="ProductInfo">
                    <p> {{product_details['Title']}} </p>
                    <div class="TitleLine"> </div> 
                    {% if product_details['DiscountPercentage'] > 0 %}
                        <p> Original Price: <s> ${{product_details['Price']}} </s> </p>
                        <p> Discount: {{product_details['DiscountPercentage']}}% </p>
                        {% set discounted_price = (product_details['Price'] * (1 - (product_details['DiscountPercentage'] / 100)))|round(2) %}
                        <p> Discounted Price: ${{discounted_price}} </p>
                    {% else %}
                        <p> Original Price: ${{product_details['Price']}} </p>
                    {% endif %}
                    <div class="RowContainer">
                        <p> WebsiteURL: </p>
                        <a href="https://{{product_details['WebsiteInfo']}}" target="_blank"> {{product_details[WebsiteInfo]}} </a>
                    </div>
                </div>
            </div>
            <div class="DescriptionBottom">
                <p> Description: </p>
                <p> {{product_details['Description']}} </p>
            </div>
        </div>
        <div class="Right">
            <br> </br>
            {% if product_details['DiscountPercentage'] > 0 %}
                {% set discounted_price = (product_details['Price'] * (1 - (product_details['DiscountPercentage'] / 100)))|round(2) %}
                <p> Price: ${{discounted_price}} </p>
            {% else %}
                <p> Price: ${{product_details['Price']}} </p>
            {% endif %}
            {% if product_details['Stock'] > 0 %}
                <p> In Stock: {{product_details['Stock']}} </p>
            {% else %}
                <p> Out of Stock </p>
            {% endif %}
            <div class="RowContainer">
                <p> Quantity: </p>
                <form action="{{ url_for('add_cart_item') }}" method="post">
                    <select id="ProductQuantity" name="quantity"> 
                        {% if product_details['Stock'] > 0 %}
                            <option value="1" selected> 1 </option> 
                            {% for i in range(2, product_details['Stock']+1) %}
                                <option value="{{i}}">{{i}}</option>
                            {% endfor %}
                        {% else %}
                            <option value="0" selected> Out of Stock </option> 
                            <script>
                                document.getElementById("ProductQuantity").disabled = true;
                            </script>
                        {% endif %}
                    </select> 
                    <input type="hidden" name="product_id" value="{{ product_details['Product_ID'] }}">
                    <button>Add To Cart</button>
                </form>
            </div>
            <br> </br>
            <button> Add to Wishlist </button>
        </div>
    </div>
    <div class="BaseBottom">
        <h2> Reviews </h2>
        <div>
            <p> Hey, Username Looks Like You Ordered This Product Leave A Review To Let Others Know About The Product! </p>
            <p> TextBox </p>
            <button> Sumbit Review </button> 
        </div>
        <div class="ReviewContainer">
            <div class="Top">
                <p> Username <p>
                <p> Rating </p>
            </div>
            <div class="Bottom">
                <p> Review <p>
            </div>
        </div>
    </div>
</div>
{% endblock %}