{% extends "Profile/Admin/Base.html" %}
{% block title %}Profile Admin Analytics{% endblock %}

{% block Stylesheets%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/AdminProfilePageStyles/AdminAnalytics.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/AdminProfilePageStyles/AdminAll.css') }}">
{% endblock %}

{% block menu_element_content %}

<div class="AnalyticBase">
    <div class="AnalyticLeft">
        <h3>Search Products By Name</h3>
        <form class='FormSearchBar' action="{{ url_for('adminPI_route.profile_analytics', displayName=displayName, page=1) }}" method="POST">
            <input class="SearchBar" type="text" placeholder="Search..." id='productsearch' name='productsearch' value=''>
        </form>
        {% for displayedProduct in displayedProducts %}
            <div class='barcontainer' id='AnalyticBC'>
                <div class='top'>
                    <a href="{{ url_for('product_page', productID=displayedProduct['Product_ID']) }}">
                        <p> {{displayedProduct['Title']}} </p>
                    </a>
                </div>
                <div class='bottom'>
                    <a href="{{ url_for('product_page', productID=displayedProduct['Product_ID']) }}">
                        <img src="{{ url_for('get_thumbnail', productName=displayedProduct['Title'], imageName=displayedProduct['ImageName']) }}" alt="Test">
                    </a>
                    <div class='text3container'>        
                        <p> Stock: {{displayedProduct['Stock']}} </p>
                        <p> Total Purchased: {{displayedProduct['QuantitySold']}}</p>
                        <p> Total Sales: {{displayedProduct['TotalEquity']}}</p>
                    </div>
                    <div class='text3container' id='AnalyticT3C'>        
                        <p> Current Price: {{displayedProduct['Price']}} </p>
                        <p> Discount: {{displayedProduct['DiscountPercentage']}}%</p>
                        {% set priceWDis = (displayedProduct['Price'] * ((100-displayedProduct['DiscountPercentage']) / 100))%}
                        <p> Price W/ Discount: {{'%.2f' % priceWDis}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class='switchpages'>
            {% if pageLeftURL %}
                {% set prevPage = page - 1 %}
                <a href="{{ url_for('adminPI_route.profile_analytics', displayName=displayName, page=prevPage, currentSearch=currentSearch) }}">Page {{prevPage}}</a> 
            {% endif %}

            {% if pageRightURL %}
                {% set nextPage = page + 1 %}
                <a href="{{ url_for('adminPI_route.profile_analytics', displayName=displayName, page=nextPage, currentSearch=currentSearch) }}">Page {{nextPage}}</a> 
            {% endif %}
        </div>
    </div>
    <analyticmiddle></analyticmiddle>
    <div class="AnalyticRight">
        <h3>Top 10 Popular Products</h3>
        <br> <br>
        <div class="PPContainer"> 
            {% for paproduct in paproducts %}
                <paproduct>
                    <div class="Top">
                        <a href="{{ url_for('product_page', productID=paproduct['Product_ID']) }}">
                            <p>#{{loop.index}} {{paproduct['Title']}}</p>
                        </a>
                    </div>
                    <div class="Bottom">
                        <div class="BottomLeft">
                            <a href="{{ url_for('product_page', productID=paproduct['Product_ID']) }}">
                                <img src="{{ url_for('get_thumbnail', productName=paproduct['Title'], imageName=paproduct['ImageName']) }}" alt={{paproduct['Title']}} class="ProductImage">
                            </a>
                        </div>
                        <div class="BottomRight">
                            <p>Total Sales: {{paproduct['QuantitySold']}}</p>
                            <p>Total Purchased: {{paproduct['TotalEquity']}}</p>
                        </div>
                    </div>
                </paproduct>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}