{% extends "Profile/Admin/Base.html" %}
{% block title %}Profile Admin Analytics{% endblock %}

{% block Stylesheets%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/AdminProfilePageStyles/AdminAnalytics.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/AdminProfilePageStyles/AdminAll.css') }}">
{% endblock %}

{% block menu_element_content %}

<div class="AnalyticBase">
    <div class="AnalyticLeft">
        <h3>Search Products By Name</h3>
        <form class='FormSearchBar' action="{{ url_for('adminPI_route.profile_analytics', displayName=displayName, page=1) }}" method="POST">
            <input class="SearchBar" type="text" placeholder="Search..." id='productsearch' name='productsearch' value=''>
        </form>
        {% for displayedProduct in displayedProducts %}
            <div class='barcontainer' id='bcAnalytics'>
                <div class='top'>
                    <a href="{{ url_for('product_page', productID=displayedProduct['Product_ID']) }}"> {{displayedProduct['Title']}} </a>
                </div>
                <div class='bottom'>
                    <div class='rowcontainer rcright'>
                        <a href="{{ url_for('product_page', productID=displayedProduct['Product_ID']) }}">
                            <img src="{{ url_for('get_thumbnail', productName=displayedProduct['Title'], imageName=displayedProduct['ImageName'] )}}" alt="{{ displayedProduct['Title'] }}" class="ProductImage">                        </a>
                        <div class='colcontainer ccgap'>
                            <div class='rowcontainer rcright rcgap'>
                                <p> <b>Stock:</b> {{displayedProduct['Stock']}} </p>
                                <p> | </p>
                                <p> <b>Total Purchased:</b> {{displayedProduct['QuantitySold']}}</p>
                                <p> | </p>
                                <p> <b>Total Sales:</b> {{displayedProduct['TotalEquity']}}</p>
                            </div>
                            <div class='rowcontainer rcright rcgap'>
                                <p> <b>Current Price:</b> {{displayedProduct['Price']}} </p>
                                <p> | </p>
                                <p> <b>Discount:</b> {{displayedProduct['DiscountPercentage']}}%</p>
                                <p> | </p>
                                {% set priceWDis = (displayedProduct['Price'] * ((100-displayedProduct['DiscountPercentage']) / 100))%}
                                <p> <b>Price W/ Discount:</b> {{'%.2f' % priceWDis}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class='switchpages'>
            {% if pageLeftURL %}
                {% set prevPage = page - 1 %}
                <a href="{{ url_for('adminPI_route.profile_analytics', displayName=displayName, page=prevPage, currentSearch=currentSearch) }}">Page {{prevPage}}</a> 
            {% endif %}

            {% if pageRightURL %}
                {% set nextPage = page + 1 %}
                <a href="{{ url_for('adminPI_route.profile_analytics', displayName=displayName, page=nextPage, currentSearch=currentSearch) }}">Page {{nextPage}}</a> 
            {% endif %}
        </div>
    </div>
    <analyticmiddle></analyticmiddle>
    <div class="AnalyticRight">
        <h3>Top 10 Popular Products</h3>
        <br> <br>
        <div class="PPContainer"> 
            {% for paproduct in paproducts %}
                <paproduct>
                    <div class="Top">
                        <a href="{{ url_for('product_page', productID=paproduct['Product_ID']) }}">
                            <p>#{{loop.index}} {{paproduct['Title']}}</p>
                        </a>
                    </div>
                    <div class="Bottom">
                        <div class="BottomLeft">
                            <a href="{{ url_for('product_page', productID=paproduct['Product_ID']) }}">
                                <img src="{{ url_for('get_thumbnail', productName=paproduct['Title'], imageName=paproduct['ImageName'] or 'placeholder.jpg') }}" alt="{{ paproduct['Title'] }}" class="ProductImage">                            </a>
                        </div>
                        <div class="BottomRight">
                            <p><b>Total Sales:</b> {{paproduct['QuantitySold']}}</p>
                            <p><b>Total Purchased:</b> {{paproduct['TotalEquity']}}</p>
                        </div>
                    </div>
                </paproduct>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}