{% extends "Profile/Base.html" %}
{% block title %}Profile Admin Base{% endblock %}

{% block menu_element_buttons %}
<a href="{{ url_for('profile_route.user_profile_page', displayName=displayName, page="PersonalInformation") }}" class="menu-element-button">Personal Information</a>
<a href="{{ url_for('profile_route.user_profile_page', displayName=displayName, page="Products") }}" class="menu-element-button">Products</a>
<a href="{{ url_for('profile_route.user_profile_page', displayName=displayName, page="Analytics") }}" class="menu-element-button">Analytics</a>
{% endblock %}