{% extends "Profile/Base.html" %}
{% block title %}Profile Customer Base{% endblock %}


{% block menu_element_buttons %}
<a href="{{ url_for('profile_route.user_profile_page', displayName=displayName, page="PersonalInformation") }}" class="menu-element-button">Personal Information</a>
<a href="{{ url_for('profile_route.user_profile_page', displayName=displayName, page="Orders") }}" class="menu-element-button">Orders</a>
<a href="{{ url_for('profile_route.user_profile_page', displayName=displayName, page="Wishlist") }}" class="menu-element-button">Wishlist</a>
{% endblock %}
