.barcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 3px;
    margin-top: 20px;
    max-width: 100%;
}

#bcOrders{
    width: 1000px;
    height: 100%;
}

#bcAnalytics{
    width: 1000px;
    height: auto;
}

#bcProducts{
    width: 1000px;
    height: auto;
}

.barcontainer input{
    width: fit-content;
    height: fit-content;
    padding: 5px 5px;
}

.barcontainer img{
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    width: 225px;
    height: 150px;
    border-radius: 5px;
}

.barcontainer select{
    border-radius: 4px;
    width: fit-content;
    height: fit-content;
    padding: 1px 1px;
}

.barcontainer button{
    display: flex;
    align-items: center;
    justify-content: center;

    height: fit-content;
    width: fit-content;
    padding: 5px 5px;
    border-radius: 4px;
    border: none;

    color: white;
    background-color: #62abff;
}

.barcontainer button:hover{
    background-color: #6e6e6e;
    color: white;
    cursor: pointer;
}

.barcontainer button:active{
    background-color: #555555;
    color: white;
}



.barcontainer .rowcontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

.barcontainer .rcright{
    margin-right: auto;
}

.barcontainer .rcleft{
    margin-left: auto;
}

.barcontainer .rcgap{
    gap: 8px;
}

.barcontainer .colcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

.barcontainer .ccright{
    margin-right: auto;
}

.barcontainer .ccgap{
    gap: 8px;
}

.barcontainer .top
{
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    gap: 15px;
}

.barcontainer .bottom
{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: auto;
    height: auto;
}

.barcontainer .bottom .text3Container{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin-left: auto;
}

.PageContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-top: 10px;
}